{% extends "layouts/main.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

<style>
  .govuk-table__cell {
    height: 44px;
    vertical-align: middle;
  }

  .govuk-table__cell .govuk-radios {
    padding-left: 10px;
   
    vertical-align: middle;
  }
</style>
<div class="moj-page-header-actions">
  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-xl">Hi {{ data['userName'] if data['userName'] else 'John' }}</h1>

  </div>

  <div class="moj-page-header-actions__actions">
    <div class="moj-button-group moj-button-group--inline">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Create new facility
      </button>
    </div>
  </div>
</div>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="my-work-in-progress.html">My work in progress</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#2">All work in progress</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="#3">Search facilities</a>
    </li>
  </ul>

</nav>






<h2 class="govuk-heading-l">Search facilities</h2>


<p>Use one of these filters to search</p>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="facilityId">
    Facility ID
  </label>

  <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="facilityId" name="facilityId"
    type="text" spellcheck="false" value="">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="obligorname">
    Obligor name
  </label>

  <input class="govuk-input govuk-input--width-20" id="obligorname" name="obligorname"
    type="text" spellcheck="false" value="">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="obligorurn">
    Obligor URN
  </label>

  <input class="govuk-input govuk-input--width-10" id="obligorurn" name="obligorurn"
    type="text" spellcheck="false" value="">
</div>


<div class="govuk-button-group">
  <form action="search-facilities-results" novalidate>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Search
  </button>

 
</form>
 
<br />

</div>

<a class="govuk-link" href="#">Advanced search</a>


  {% endblock %}