{% extends "layouts/main.html" %}

{% block pageTitle %}
Add obligor
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Add obligor
    </h1>

    <form class="form" action="add-facility-overview" method="get">
      <p>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="oUrn">
            Obligor URN
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint" style="display: none;">
          Hint text - change display to block
        </div>
        <input class="govuk-input govuk-input--width-10" id="oUrn" name="oUrn" type="text">
      </div>





      </p>
      <br /> <br />
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return to all sections
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}