{% extends "layouts/main.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="width: 960px;">
  <a href="review-facility-information.html" class="govuk-back-link">Back</a>
  <br />
  <br />
  <h1 class="govuk-heading-l">
    Facility has incorrect information
  </h1>


  <!-- start  of one batch of information -->
  <div style="width: 960px;">


    <div class="govuk-form-group">


      <p class="govuk-body">The following facility information is incorrect: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Facility expiry date</li>
        <li>Fixed fees missing</li>

      </ul>


      <div id="more-detail-hint" class="govuk-hint">
        Notes (optional) </div>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
        aria-describedby="more-detail-hint"></textarea>
    </div>

  </div>

  <!-- end of one batch of information -->

  
    <div class="govuk-button-group">
      <form class="form" action="all-work-in-progress?reject=true" method="get">
      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" value="reject">
        Reject 
      </button>
    </form>

    <form class="form" action="review-facility-information" method="get">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Back to review 
      </button>
    </form>
    </div>

</div>
{% endblock %}