{% extends "layouts/summary.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}




<div class="govuk-grid-row" style="width: 960px;">


  <h1 class="govuk-heading-l">
    Review entered details
  </h1>


  <div class="govuk-summary-card" >
    <div class="govuk-summary-card__title-wrapper" style="height: 50px;">
      <dl class="govuk-summary-list" >
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
           &nbsp;
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>Inputter entry </strong>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong> Approver entry</strong>
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">
            <strong> Match?</strong>
          </dd>

        </div>

      </dl>
    </div>


    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Product type
          </dt>
          <dd class="govuk-summary-list__value">
            Export Insurance Policy (EXIP)
          </dd>
          <dd class="govuk-summary-list__value">
            Export Insurance Policy (EXIP)
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C1" checked>
                <label class="govuk-label govuk-checkboxes__label" for="c1">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>


        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Facility ID
          </dt>
          <dd class="govuk-summary-list__value">
            0020017319
          </dd>
          <dd class="govuk-summary-list__value">
            0020017319
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2" checked>
                <label class="govuk-label govuk-checkboxes__label" for="c2">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>


        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Obligor
          </dt>
          <dd class="govuk-summary-list__value">
            00326575
          </dd>
          <dd class="govuk-summary-list__value">
            00326575
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C3" checked>
                <label class="govuk-label govuk-checkboxes__label" for="c3">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>


        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Currency and amount
          </dt>
          <dd class="govuk-summary-list__value">
            GBP 600,000.00
          </dd>
          <dd class="govuk-summary-list__value">
            GBP 600,000.00
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C4" checked>
                <label class="govuk-label govuk-checkboxes__label" for="c4">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>


        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Effective date
          <dd class="govuk-summary-list__value">
            21 March 2023
          </dd>
          <dd class="govuk-summary-list__value">
            21 March 2023
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C4" checked>
                <label class="govuk-label govuk-checkboxes__label" for="c4">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>

        <div class="govuk-summary-list__row" style="height: 50px;  ">
          <dt class="govuk-summary-list__key">
            Expiry date
          <dd class="govuk-summary-list__value">
            21 June 2023
          </dd>
          <dd class="govuk-summary-list__value">
            21 June 2025
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right; ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C4">
                <label class="govuk-label govuk-checkboxes__label" for="c4">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>


        <div class="govuk-summary-list__row" style="height: 50px; ">
          <dt class="govuk-summary-list__key">
            End of cover date
          <dd class="govuk-summary-list__value">
            21 September 2023
          </dd>
          <dd class="govuk-summary-list__value">
           &nbsp;
          </dd>
    
          <dd class="govuk-summary-list__value" style="text-align: right;  ">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
              style="text-align: right; float: right;">
              <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C4" disabled>
                <label class="govuk-label govuk-checkboxes__label" for="c4">
                  &nbsp;
                </label>
              </div>
            </div>
          </dd>
        </div>




      </dl>
     
    </div>


 
  </div>



  <form class="form" action="review-facility-information" method="get">


    <div class="govuk-button-group">
      <button type="submit" class="govuk-button " data-module="govuk-button">
        Continue
      </button>

    </div>

  </form>



</div>


{% endblock %}