{% extends "layouts/main.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}
<div class="moj-banner moj-banner--success" role="region" aria-label="Success" style="display: none;" id="rejection-banner">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
  </svg>
  <div class="moj-banner__message">Approval for facility 0020017319 rejected.</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const reject = urlParams.get('reject');
    
    if (reject === 'true') {
      document.getElementById('rejection-banner').style.display = 'block';
    }
  });
</script>

<div class="govuk-grid-row" style="width: 960px;">
  <a href="review-entered-details.html" class="govuk-back-link">Back</a>
  <br />
  <br />
  <h1 class="govuk-heading-l">
    Review facility information
  </h1>


  <!-- start  of one batch of information -->
  <div style="width: 960px;">
    
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="height: 50px;">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
              Repayment
            </dt>
            <dd class="govuk-summary-list__value">
              &nbsp;
            </dd>
            <dd class="govuk-summary-list__value">
              &nbsp;
            </dd>
            <dd class="govuk-summary-list__value" style="text-align: right;">
              <strong>Match?</strong>
            </dd>
          </div>
        </dl>
      </div>
  
      <div class="govuk-summary-card__content">
  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row" style="height: 50px;">
            <dt class="govuk-summary-list__key">
              Profile name
            </dt>
            <dd class="govuk-summary-list__value">
              Premium
            </dd>
            <dd class="govuk-summary-list__value">
              &nbsp;
            </dd>
            <dd class="govuk-summary-list__value" style="text-align: right;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                style="text-align: right; float: right;">
                <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C1">
                  <label class="govuk-label govuk-checkboxes__label" for="c1">
                    &nbsp;
                  </label>
                </div>
              </div>
            </dd>
          </div>
  
          <div class="govuk-summary-list__row" style="height: 50px;">
            <dt class="govuk-summary-list__key">
              Repayments
            </dt>
            <dd class="govuk-summary-list__value">
              30 March 2023
            </dd>
            <dd class="govuk-summary-list__value">
              GBP 445.13
            </dd>
            <dd class="govuk-summary-list__value" style="text-align: right;">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                style="text-align: right; float: right;">
                <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                  <label class="govuk-label govuk-checkboxes__label" for="c2">
                    &nbsp;
                  </label>
                </div>
              </div>
            </dd>
          </div>
  
      
  
        </dl>
      </div>
  
    </div>
  
    <div class="govuk-checkboxes__item govuk-checkboxes--small">
  
      <input class="govuk-checkboxes__input" id="missing-info" name="organisation" type="checkbox" value="hmrc">
      <label class="govuk-label govuk-checkboxes__label" for="missing-info">
        Information missing in repayment
      </label>
    </div>
  
  </div>

  <!-- end of one batch of information -->

  <br /> <br /> <br />

    <!-- start  of one batch of information -->
    <div style="width: 960px;">
    
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="height: 50px;">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="border-bottom: none;">
              <dt class="govuk-summary-list__key">
                Counter parties
              </dt>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <strong>Match?</strong>
              </dd>
            </div>
          </dl>
        </div>
    
        <div class="govuk-summary-card__content">
    
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Party URN
              </dt>
              <dd class="govuk-summary-list__value">
                00326574
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C1">
                    <label class="govuk-label govuk-checkboxes__label" for="c1">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Role
              </dt>
              <dd class="govuk-summary-list__value">
                Borrower
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
    
    
          </dl>
        </div>
    
      </div>
    
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
    
        <input class="govuk-checkboxes__input" id="missing-info" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="missing-info">
          Information missing in counter parties
        </label>
      </div>
    
    </div>
  
    <!-- end of one batch of information -->
  
    <br /> <br /> <br />


    <!-- start  of one batch of information -->
    <div style="width: 960px;">
    
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="height: 50px;">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="border-bottom: none;">
              <dt class="govuk-summary-list__key">
                Obligations
              </dt>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <strong>Match?</strong>
              </dd>
            </div>
          </dl>
        </div>
    
        <div class="govuk-summary-card__content">
    
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Currency and amount
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 600,000.00
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C1">
                    <label class="govuk-label govuk-checkboxes__label" for="c1">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Effective date
              </dt>
              <dd class="govuk-summary-list__value">
                21 March 2023
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>

            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Maturity date
              </dt>
              <dd class="govuk-summary-list__value">
                21 June 2023
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
    
    
          </dl>
        </div>
    
      </div>
    
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
    
        <input class="govuk-checkboxes__input" id="missing-info" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="missing-info">
          Information missing in obligations
        </label>
      </div>
    
    </div>
  
    <!-- end of one batch of information -->
  
    <br /> <br /> <br />


    <!-- start  of one batch of information -->
    <div style="width: 960px;">
    
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="height: 50px;">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="border-bottom: none;">
              <dt class="govuk-summary-list__key">
                Fixed fees
              </dt>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <strong>Match?</strong>
              </dd>
            </div>
          </dl>
        </div>
    
        <div class="govuk-summary-card__content">
    
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Fee type
              </dt>
              <dd class="govuk-summary-list__value">
                Fixed fee
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C1">
                    <label class="govuk-label govuk-checkboxes__label" for="c1">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Fee description
              </dt>
              <dd class="govuk-summary-list__value">
               EXIPS Premium
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>

            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
              30 March 2023
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>

            <div class="govuk-summary-list__row" style="height: 50px;">
              <dt class="govuk-summary-list__key">
                Fee currency
              </dt>
              <dd class="govuk-summary-list__value">
               GBP
              </dd>
              <dd class="govuk-summary-list__value">
                &nbsp;
              </dd>
              <dd class="govuk-summary-list__value" style="text-align: right;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"
                  style="text-align: right; float: right;">
                  <div class="govuk-checkboxes__item" style="text-align: right; float: right;">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="C2">
                    <label class="govuk-label govuk-checkboxes__label" for="c2">
                      &nbsp;
                    </label>
                  </div>
                </div>
              </dd>
            </div>
    
    
    
          </dl>
        </div>
    
      </div>
    
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
    
        <input class="govuk-checkboxes__input" id="missing-info" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="missing-info">
          Information missing in fixed fees
        </label>
      </div>
    
    </div>
  
    <!-- end of one batch of information -->
  
    <br /> <br /> <br />
  

   

  <form class="form" action="facility-has-incorrect-information?reject=true" method="get">
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </form>
</div>
{% endblock %}