{% extends "layouts/main.html" %}

{% set pageName="Index" %}



{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- 
    <h1 class="govuk-heading-m">
      Prototype  
     </h1>
    <a href="create-facility/create-new-facility.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
     Start here
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
   

    <br /><br />
    <hr />

     -->
    <h1 class="govuk-heading-s">
     Prototype  
    </h1>
    <br /><br />

    <p class="govuk-body-l">Approver Dashboard</p>
    <ul class="govuk-list">
    
      <li>
        <a class="govuk-link" href="dashboard/approver/all-work-in-progress.html"> All Work in progress</a>
      </li>
  
    </ul>
    <br /><br /><br />

    <p class="govuk-body-l">Inputter Dashboard</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="dashboard/inputter/my-work-in-progress.html"> My Work in progress</a>
      </li>

    
    </ul>


    
<!--
    <h2 class="govuk-heading-m">
      Create facility
     </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="create-facility/create-new-facility.html">Create new facility</a>
      </li>
      <li>
        <a class="govuk-link" href="create-facility/add-obligor.html">Add obligor</a>
      </li>
      <li>
        <a class="govuk-link" href="create-facility/add-facility-overview.html">Add facility overview</a>
      </li>
      <li>
        <a class="govuk-link" href="create-facility/review-facility.html">Review facility</a>
      </li>
    </ul>

-->




  </div>
</div>

{% endblock %}